@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: linear-gradient(0deg, #070707, #ffffff);
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-image: url("../background2.svg");
  justify-content: center;
  align-items: center;
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: 0 -50px;
  background-attachment: fixed;
}

h1 {
  margin-top: 0;
  padding: 50px;
  text-align: center;
}

header {
  font-size: 2rem;
}

header,
.form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  margin-top: -50px;
  width: 400px;
}

input,
button {
  margin-top: 10px;
  padding: 1 rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  border: none;
  background: white;
  border-radius: 60px;
}

#portfolio-submit {
  display: inline-block;
  position: relative;
  left: 90px;
  top: -10px;
}
